* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(255, 166, 0, 0.05);
    font-size: 1rem;
}

h1 {
    text-align: center;
    font-size: 4rem;
    border-bottom: 2px dashed orange;
    color: orange;
}

button {
    background-color: rgba(255, 218, 117, 0.2);
    color: rgb(16, 16, 16);
    border: 1px solid black;
    border-radius: 8px;
    height: 25px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 205, 147, 0.636);
}

button:active {
    background-color: rgba(255, 236, 215, 0.2);
}

.todo-item {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 12px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 218, 148, 0.227);
    min-width: 300px;
    padding: 16px;
    font-size: 1.025rem;
}

.markCompleted {
    height: 40px;
    font-weight: bold;
}

.element {
    display: flex;
}

.dom-project {
    border: 1px solid black;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-width: 332px;
    height: max-content;
    min-height: 200px;
}

.project-title {
    font-size: 1.6rem;
    color: rgb(225, 147, 0);
    display: flex;
    flex-wrap: wrap;
}

.add-project {
    width: 150px;
    height: 50px;
    align-self: center;
    font-size: 1rem;
}

.add-todo-item {
    width: 125px;
    height: 25px;
    font-size: 0.9rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.delete-project {
    padding: 4px;
}

.edit-property {
    width: 35px;
    padding: 2px;
    margin-left: auto;
}