* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px dashed black;
}

.todo-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #000;
    width: 200px;
    padding: 16px;
}

.title {

}

.description {

}

.due-date {

}

.priority {

}

.time-estimate {

}

.mark-completed {

}

.dom-project {
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    width: min-content;
    height: max-content;
}

.project-title {

}

.todo-items {

}

.add-project {
    width: 150px;
    height: 50px;
    align-self: center;
    font-size: 1rem;
}

.add-todo-item {
    width: 125px;
    height: 25px;
    align-self: center;
    font-size: 0.9rem;
}

.projects-container {
    display: flex;
    gap: 24px;
}