* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    border-bottom: 2px dashed black;
}

.todo-item {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 8px;
    border: 1px solid orange;
    width: 300px;
    padding: 16px;
}

.title {

}

.description {

}

.due-date {

}

.priority {

}

.time-estimate {

}

.mark-completed {
    width: 108px;
    align-self: center;
}

.title,
.description,
.due-date,
.priority,
.time-estimate {
    display: flex;
    justify-content: space-between;
}

.dom-project {
    border: 1px solid black;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    min-width: 332px;
    max-width: 25vw;
    height: max-content;
    min-height: 200px;
}

.project-title {
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
}

.todo-items {

}

.add-project {
    width: 150px;
    height: 50px;
    align-self: center;
    font-size: 1rem;
}

.add-todo-item {
    width: 125px;
    height: 25px;
    font-size: 0.9rem;
}

.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}

.delete-project {
    padding: 4px;
}

.delete-todo {
    width: max-content;
    align-self: center;
    padding: 2px;
}

.edit-property {
    height: min-content;
    padding: 2px;
}